#home_title {
    font-size: 60pt;
}

h1 {
    font-size: 36pt;
}

.jumbotron{
    text-align:center;
    margin-top: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
};


footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px;
}