#home_title {
    font-size: 60pt;
}

h1 {
    font-size: 36pt;
}

.jumbotron{
    margin-top: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
};

ul {
    list-style-type: none;
   }

footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px;
}