<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houston Crime Data</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="icon" href="https://i.pinimg.com/280x280_RS/49/a9/82/49a982dd8c27763a28cb2404c816e6fe.jpg">
    <link rel="stylesheet" href="static/css/style.css">

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/historical_analysis">Historical Analysis</a>
            <a class="nav-item nav-link" href="/machine_learning">Machine Learning</a>
            <a class="nav-item nav-link" href="/data">Data</a>
        </div>

    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="jumbotron">
                    <h1 class="title">Historical Analysis</h1>
                    <p>Here are visuals for the past Houston Crime Data from January 2018 to May 2020. All visuals have
                        been
                        made in Tableau.</p>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel">
                                    <h3>Choropleth map of Crime Offense Type broken up by Census Tract</h3>
                                    <div class='tableauPlaceholder' id='viz1595446477481' style='position: relative'>
                                        <noscript>
                                            <a href='#'>
                                                <img alt=' ' 
                                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;XX&#47;XXT5BDKRK&#47;1_rss.png' 
                                                style='border: none' />
                                            </a>
                                        </noscript>
                                        <object class='tableauViz'  style='display:none;'>
                                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                                            <param name='embed_code_version' value='3' /> 
                                            <param name='path' value='shared&#47;XXT5BDKRK' /> 
                                            <param name='toolbar' value='yes' />
                                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;XX&#47;XXT5BDKRK&#47;1.png' /> 
                                            <param name='animate_transition' value='yes' />
                                            <param name='display_static_image' value='yes' />
                                            <param name='display_spinner' value='yes' />
                                            <param name='display_overlay' value='yes' />
                                            <param name='display_count' value='yes' />
                                            <param name='language' value='en' />
                                        </object>
                                    </div>                
                                    <script type='text/javascript'>                    
                                        var divElement = document.getElementById('viz1595446477481');                    
                                        var vizElement = divElement.getElementsByTagName('object')[0];                    
                                        vizElement.style.width = '100%'; 
                                        vizElement.style.height = (divElement.offsetWidth * 0.85) + 'px';                
                                        var scriptElement = document.createElement('script');                    
                                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                                        vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="panel">
                                    <h3>Number of Crimes by Offense Types over Period of Day (Hour)</h3>
                                    <div class='tableauPlaceholder' id='viz1595346394200' style='position: relative'>
                                        <noscript><a href='#'><img alt=' '
                                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tr&#47;Tractsv3&#47;Offenses_vs_Hour&#47;1_rss.png'
                                                    style='border: none' /></a></noscript><object class='tableauViz'
                                            style='display:none;'>
                                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                            <param name='embed_code_version' value='3' />
                                            <param name='site_root' value='' />
                                            <param name='name' value='Tractsv3&#47;Offenses_vs_Hour' />
                                            <param name='tabs' value='no' />
                                            <param name='toolbar' value='yes' />
                                            <param name='static_image'
                                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tr&#47;Tractsv3&#47;Offenses_vs_Hour&#47;1.png' />
                                            <param name='animate_transition' value='yes' />
                                            <param name='display_static_image' value='yes' />
                                            <param name='display_spinner' value='yes' />
                                            <param name='display_overlay' value='yes' />
                                            <param name='display_count' value='yes' />
                                            <param name='language' value='en' /></object></div>
                                    <script
                                        type='text/javascript'>                    var divElement = document.getElementById('viz1595346394200'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="panel">
                                    <h3>Number of Crimes by Offense Type over Period of Day (Hour) broken down by Day of
                                        Week</h3>
                                    <div class='tableauPlaceholder' id='viz1595346637053' style='position: relative'>
                                        <noscript><a href='#'><img alt=' '
                                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Houston_Crime_Visuals&#47;Crimes_By_Day&#47;1_rss.png'
                                                    style='border: none' /></a></noscript><object class='tableauViz'
                                            style='display:none;'>
                                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                            <param name='embed_code_version' value='3' />
                                            <param name='site_root' value='' />
                                            <param name='name' value='Houston_Crime_Visuals&#47;Crimes_By_Day' />
                                            <param name='tabs' value='no' />
                                            <param name='toolbar' value='yes' />
                                            <param name='static_image'
                                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Houston_Crime_Visuals&#47;Crimes_By_Day&#47;1.png' />
                                            <param name='animate_transition' value='yes' />
                                            <param name='display_static_image' value='yes' />
                                            <param name='display_spinner' value='yes' />
                                            <param name='display_overlay' value='yes' />
                                            <param name='display_count' value='yes' />
                                            <param name='language' value='en' /></object></div>
                                    <script
                                        type='text/javascript'>                    var divElement = document.getElementById('viz1595346637053'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="panel">
                                    <h3>Crime and Weather Heatmaps</h3>
                                    <div class='tableauPlaceholder' id='viz1595378708967' style='position: relative'>
                                        <noscript><a href='#'><img alt=' '
                                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Houston_Crime_Visuals&#47;Heatmaps&#47;1_rss.png'
                                                    style='border: none' /></a></noscript><object class='tableauViz'
                                            style='display:none;'>
                                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                            <param name='embed_code_version' value='3' />
                                            <param name='site_root' value='' />
                                            <param name='name' value='Houston_Crime_Visuals&#47;Heatmaps' />
                                            <param name='tabs' value='no' />
                                            <param name='toolbar' value='yes' />
                                            <param name='static_image'
                                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Houston_Crime_Visuals&#47;Heatmaps&#47;1.png' />
                                            <param name='animate_transition' value='yes' />
                                            <param name='display_static_image' value='yes' />
                                            <param name='display_spinner' value='yes' />
                                            <param name='display_overlay' value='yes' />
                                            <param name='display_count' value='yes' />
                                            <param name='language' value='en' /></object></div>
                                    <script
                                        type='text/javascript'>                    var divElement = document.getElementById('viz1595378708967'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="panel">
                                    <h3>Number of Crimes by Offense Type during certain Weather Conditions</h3>
                                    <div class='tableauPlaceholder' id='viz1595347056622' style='position: relative'>
                                        <noscript><a href='#'><img alt=' '
                                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Houston_Crime_Visuals&#47;Dashboard2&#47;1_rss.png'
                                                    style='border: none' /></a></noscript><object class='tableauViz'
                                            style='display:none;'>
                                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                            <param name='embed_code_version' value='3' />
                                            <param name='site_root' value='' />
                                            <param name='name' value='Houston_Crime_Visuals&#47;Dashboard2' />
                                            <param name='tabs' value='no' />
                                            <param name='toolbar' value='yes' />
                                            <param name='static_image'
                                                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Houston_Crime_Visuals&#47;Dashboard2&#47;1.png' />
                                            <param name='animate_transition' value='yes' />
                                            <param name='display_static_image' value='yes' />
                                            <param name='display_spinner' value='yes' />
                                            <param name='display_overlay' value='yes' />
                                            <param name='display_count' value='yes' />
                                            <param name='language' value='en' /></object></div>
                                    <script
                                        type='text/javascript'>                    var divElement = document.getElementById('viz1595347056622'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<footer>
    Created by Ryan Ashcraft, Vikash Bhakta, Luis Olguin, and Florin Vasiliu | <a
        href="https://github.com/florin-vasiliu/FinalProject">GitHub</a>
</footer>