<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houston Crime Data</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="icon" href="https://i.pinimg.com/280x280_RS/49/a9/82/49a982dd8c27763a28cb2404c816e6fe.jpg">

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Data</a>
              <a class="nav-item nav-link" href="#">Machine Learning</a>
              <a class="nav-item nav-link" href="#">Historical Analysis</a>
            </div>
         
      </nav>

        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Houston Crime Prediction</h1>
                <p>Enter the details below to see what crime is most likely to occur</p>
                <p>Also see the probabilities of other crimes to occur</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/" role="form", name="donationform">
                        <div class="form-group">
                            <label>Hour (1-24)</label>
                            <input type="text" class="form-control" name="hour" placeholder="Hour">
                        </div>
                        <div class="form-group">
                            <label>Premise</label>
                            <input type="text" class="form-control" name="premise" placeholder="Premise">
                        </div>
                        <div class="form-group">
                            <label>Census Tract</label>
                            <input type="text" class="form-control" name="tract" placeholder="Tract">
                        </div>
                        <div class="form-group">
                            <label>Month (1-12)</label>
                            <input type="text" class="form-control" name="month" placeholder="Month">
                        </div>
                        <div class="form-group">
                            <label>Day of the Week (Monday-Friday)</label>
                            <input type="text" class="form-control" name="dayofweek" placeholder="Day of Week">
                        </div>
                        <div class="form-group">
                            <label>Temperature</label>
                            <input type="text" class="form-control" name="temperature" placeholder="Temperature">
                        </div>
                        <div class="form-group">
                            <label>Weather</label>
                            <input type="text" class="form-control" name="weather" placeholder="Weather">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>{{ message }}</h1>
                    <ul>{% for crime in prob_list %} 
                        <li>{{crime}}</li>
                     {% endfor %}</ul>
                </div>
            </div>
        </div>

    </body>
</html>
