<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houston Crime Data</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="icon" href="https://i.pinimg.com/280x280_RS/49/a9/82/49a982dd8c27763a28cb2404c816e6fe.jpg">
    <link rel="stylesheet" href="static/css/style.css">

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/historical_analysis">Historical Analysis</a>
                <a class="nav-item nav-link active" href="/machine_learning">Machine Learning</a>
                <a class="nav-item nav-link" href="/data">Data</a>
            </div>
         
      </nav>

      <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1>Machine Learning</h1>
                    <p class='text-center'>Brief description of each of the machine learning models are using, the ones we developed and scrapped, and their scores.</p>
                    <hr>
               
                    <h2 class="text-center"><u>Our Model - CatBoost</u>:</h2>
                    <hr>
                    <h3>Model Accuracy:</h3>
                    
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Best_Score.png" alt="Score">
                    <hr>
                    <h3>The Process:</h3>
                    <hr>
                    <p class="text-center">Inital Outlook</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Initial_Model.png" alt="Initial Model">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Initial_Score.png" alt="Initial Score">
                    <hr>
                    <p class="text-center">Cross Validation</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Cross_Validation.png" alt="Cross Validation">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Cross_Validation_Chart.png" alt="CV Chart">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Cross_Validation_Scores.png" alt="CV Scores">

                    <hr>
                    
                    <p class="text-center">Grid Search</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Grid_Search.png" alt="Grid Search">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Grid_Search_Chart.png" alt="Grid Chart">
                    
                    <hr>

                    <p class="text-center">Final Result</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Best_Model_Code.png" alt="Best Code">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Best_Model_Chart.png" alt="Best Chart">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Model_Verbose.png" alt="Verbose">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Best_Iteration_Words.png" alt="Best Iteration">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Cat_Model_Features.png" alt="Best Features">
                    <br>
                  
                    <hr>

                    <h2 class="text-center"><u>Previous Attempts</u>:</h2>
                    <hr>
                    <h3 class="text-center">K-Means:</h3>
                    <hr>
                    <p>Best Results</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "50%" src="../static/Screenshots/KMeans_Chart.png" alt="KMeans Chart">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/KMeans_Clusters.png" alt="KMeans Clusters">
                    <br>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/KMeans_Cluster_Predict_Array.png" alt="KMeans Cluster Predicts">
                    <br>
                
                    
                    <hr>
                    
                    <h3 class="text-center">Random Forest:</h3>
                    <hr>
                    <p>Best Score</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/Random_Forest_Score.png" alt="Random Forest">
                    <br>
    
                    <hr>
                    <h3 class="text-center">Deep Learning:</h3>
                    <hr>
                    <p>Best Activation and Results</p>
                    <img class = "img-responsive" width = "60%" src="../static/Screenshots/DeepLearning_Hypertuning.png" alt="Deep Learning">
                    <img class = "img-responsive" width = "35%" src="../static/Screenshots/DeepLearing_Hypertune_Results.png" alt="Deep Learning Score">
                    <br>
                    <br>
                    <p>Best Optimization and Results</p>
                    <img class = "img-responsive" width = "60%" src="../static/Screenshots/Deep_Learning_Opt.png" alt="Deep Learning">
                    <img class = "img-responsive" width = "35%" src="../static/Screenshots/Deep_Learning_Opt_Best.png" alt="Deep Learning Score">

                    <br>
                    <br>
                    <hr>
                    
                    <h3 class="text-center">K Nearest Neighbor (KNN):</h3>
                    <hr>
                    <div class="text-center">
                        <img class = "img-responsive" width = "45%" src="../static/Screenshots/KNN_Scoring.png" alt="KNN Scoring">
                        <img class = "img-responsive" width = "45%" src="../static/Screenshots/KNN_Chart.png" alt="KNN Chart">
                    </div>
                    <p class="text-center">Best Score</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/KNN_Best_Score.png" alt="KNN Best">
                    <br>

                    <hr>
                    
                    <h3 class="text-center">AutoML:</h3>
                    <hr>
                    <p>Classification Models</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/AutoML_Classification_Results.png" alt="Classification">
                    <br>
                    <p>Pipeline</p>
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/AutoML_Pipeline_Code.png" alt="Pipeline Code">
                    <img class = "img-responsive; rounded mx-auto d-block" width = "80%" src="../static/Screenshots/AutoML_Pipeline.png" alt="Pipeline">

                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer> 
        Created by Ryan Ashcraft, Vikash Bhakta, Luis Olguin, and Florin Vasiliu | <a href="https://github.com/florin-vasiliu/FinalProject">GitHub</a>
    </footer>
